/build-to-host.m4
/c32rtomb.m4
/gnulib-comp.m4
/gnulib-i18n.m4
/gnulib-tool.m4
/init-package-version.m4
/iswblank.m4
/iswdigit.m4
/iswpunct.m4
/iswxdigit.m4
/libunistring-base.m4
/localcharset.m4
/locale-fr.m4
/locale_h.m4
/localeconv.m4
/math_h.m4
/mbchar.m4
/mbiter.m4
/mbrtoc32.m4
/mbsinit.m4
/pid_t.m4
/setlocale_null.m4
/std-gnu11.m4
/stdckdint_h.m4
/strcasecmp.m4
/threadlib.m4
/uchar_h.m4
/unicase_h.m4
/unictype_h.m4
/uninorm_h.m4
/unitypes_h.m4
/vararrays.m4
/visibility.m4
/wctype_h.m4
/wcwidth.m4
/af_alg.m4
/fflush.m4
/fpurge.m4
/freading.m4
/fseek.m4
/fseeko.m4
/fstat.m4
/ftell.m4
/ftello.m4
/gl-openssl.m4
/largefile.m4
/lseek.m4
/malloca.m4
/pathmax.m4
/sha256.m4
/socklen.m4
/sockpfaf.m4
/stat-time.m4
/stat.m4
/sys_uio_h.m4
/ungetc.m4
