build/
.cache/
compile_commands.json

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
config.guess
config.sub
configure
stamp-h1
install-sh
decomp
missing
compile
depcomp
config.h

.deps/
.libs/
ltmain.sh
libtool
ltconfig

*.lo
*.o
*.la
*.a
*.so
*.so.*

tags
ID

test-driver
test-suite.log

*.tar.gz
*.tar.bz2
*.tar.xz

*~
\#*\#
/.DS_Store

/_darcs/
/*.egg-info/
/build/
/distcheck/
*.dSYN

.version
.tar_version

